<%= form_for [@user, @pitch] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  
  <%= f.label :content %>
  <%= f.text_field :content %>
  
  <div class="statuses">
    <%= f.label :status %>
    <%= f.select(:status_id, @status_options) %>
  </div>
  
  <%= f.submit %>

<% end %>