<div>
  
  <p>
    Title: <%= @pitch.title %>
  </p>
  
  <p>
    Content: <%= @pitch.content %>
  </p>
  
  <p>
    Status: 
    <% if @pitch.status %>
      <%= @pitch.status.title %>
    <% else %>
      New
    <% end %>
  </p>
  
  <p>
    <%= link_to "Edit Pitch", edit_pitch_path(@pitch) %>
    <%= link_to "Create Status", new_status_path %>
  </p>
  
</div>