<div>
  <p>Name: <%= current_user.name %></p>
  <p>Email: <%= current_user.email %></p>
  <ul>
  Pitches: <% @user.pitches.each do |pitch| %>
              <li><%= link_to pitch.title, user_pitch_path(@user, pitch) %></li>
              <%= link_to "Edit Pitch", edit_user_pitch_path(@user, pitch) %>
              <%= link_to "Delete Pitch", user_pitch_path(@user, pitch), method: :delete, data: { confirm: "Are you sure?" } %>
            <% end %>
  <br/>
    <div>
      <%= link_to "Edit Account", edit_user_path(current_user) %>
      <%= link_to "Delete Account", user_path(current_user), method: :delete, data: { confirm: "Are you sure? This cannot be undone. It will delete all of your pitches and contacts forever." } %>
    </div>
</div>
